body {
	margin: 0;
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

h2 {
	padding-left: 10px;
}

a {
	color: #FF710B;
}
.fixed-top {
	position: fixed;
	width: 100%;
	padding-left: 20px;
	top: 0;
	background: #590BFF;
	color: white;
	z-index: 1;
}

.absolute-left {
	position: absolute;
	top: 100px;
}

.alphabet {
	position: sticky;
	background: #590BFF;
	top: 80px;
	color: white;
}

.book {
	position: relative;
	width: 100%;
	left: 250px;
	top: 100px;
}