.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    padding: 30px 20px 0;
}

.header {
    display: flex;
    flex-direction: row;
}

.logo {
    padding: 0 80px 80px;
}

.logo img {
    width: 168px;
    height: 168px;
}

.description {
    display: flex;
    flex-direction: column;
}

.description__name {
    margin: 0 0 20px;
}

.description__features {

}

.description__public {
    padding-right: 20px;
}

.description__subscribe {
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.description__down {
    margin: 0 0 20px;
}

.groups img {
    width: 400px;
    padding-left: 40px;
    padding-bottom: 40px;
}