@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    background: #1B2473;
}

.content {
    display: flex;
    justify-content: center;
}

.form {
    position: absolute;
    width: 600px;
    height: 412px;
    top: 82px;
    background: #FFFFFF;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.form__title {
    position: absolute;
    width: 115px;
    height: 50px;
    left: 242px;
    top: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}

.form__email-wrapper {
    position: absolute;
    width: 509px;
    height: 49px;
    left: 45px;
    top: 112px;
}

.form__email-label {
    position: absolute;
    width: 40px;
    height: 16px;
    left: 8px;
    top: -19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    color: #787878;
}

.form__email, .form__password {
    position: absolute;
    width: 509px;
    height: 49px;
    left: 0;
    top: 0;
    padding-left: 15px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 28px;
    color: #787878;
    outline: 0;
}

.form__email::placeholder, .form__password::placeholder {
    position: absolute;
    width: 100%;
    height: 36px;
    left: 15px;
    top: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #CCCCCC;
}

.form__password-wrapper {
    position: absolute;
    width: 509px;
    height: 49px;
    left: 45px;
    top: 193px;
}

.form__password-label {
    position: absolute;
    width: 56px;
    height: 16px;
    left: 8px;
    top: -19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}

.form__checkbox-wrapper {
    position: absolute;
    width: 312px;
    height: 24px;
    left: 45px;
    top: 258px;
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.form__checkbox-mark {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
}

.form__checkbox:checked + .form__checkbox-mark::after {
    content: '✓';
    position: absolute;
    color: #787878;
    left: 3px;
    top: 1px;
}

.form__checkbox-label {
    position: absolute;
    width: 278px;
    height: 16px;
    left: 34px;
    top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}

.form__button-wrapper {
    position: absolute;
    width: 180px;
    height: 52px;
    left: 218px;
    top: 334px;
}

.form__button {
    position: absolute;
    width: 180px;
    height: 52px;
    left: 0;
    top: 0;
    background: #1A226B;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) and (min-width: 320px){

    .form {
        display: flex;
        justify-content: center;
        width: 96%;
        height: 96%;
        top: 2%;
    }

    .form__title {
        left: auto;
        font-size: 60px;
    }

    .form__email-wrapper {
        width: 90%;
        left: auto;
    }

    .form__email, .form__password {
        width: 100%;
    }

    .form__password-wrapper {
        width: 90%;
        left: auto;
    }

    .form__checkbox-wrapper {
        width: 90%;
        left: auto;
        height: 32px;
    }

    .form__checkbox-mark {
        width: 32px;
        height: 32px;
    }

    .form__checkbox:checked + .form__checkbox-mark::after {
        left: 6px;
        top: 3px;
    }

    .form__checkbox-label {
        width: 90%;
        height: 16px;
        left: 42px;
        top: 8px;
        font-size: 18px;
        line-height: 16px;
    }

    .form__button-wrapper {
        left: auto;
        width: 220px;
        height: 80px;
        top: 375px;
    }

    .form__button {
        width: 220px;
        height: 80px;
    }

}