.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    padding: 0 8px 12px;
    color: #8e8e8e;
    font-size: 12px;
}

.language_select {
    border: none;
    color: #8e8e8e;
    font-size: 12px;
    outline: none;
}

.copyright {
    padding-left: 8px;
}