.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 32px auto 0;
    padding-bottom: 32px;
}

.phone {

}

.slide {
    height: 426px;
    position: relative;
    top: -522px;
    left: 150px;
    width: 240px;
}

.slide_div {
    height: 0;
}