@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
    background: #1B2473;
    box-sizing: border-box;
}


.content {
    display: flex;
    justify-content: center;
}


.form {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-top: 82px;
    background: #FFFFFF;
    box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


.form__title {
    margin: 0 auto;
    padding-top: 26px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}


.form__email-invalid,
.form__password-invalid,
.form__checkbox-empty,
.form__email-empty,
.form__password-empty {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #CB2424;
    padding: 0 10px;
    display: none;
}


.form__email-wrapper,
.form__password-wrapper {
    /*height: 49px;*/
    padding: 0 45px 10px;
}


.form__email-label,
.form__password-label {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    /*color: #CB2424;*/

    padding: 5px 10px;
}


.form__email-star,
.form__password-star,
.form__checkbox-star {
    margin-left: -10px;
    /*color: #CB2424;*/
    color: #787878;
}


.form__email,
.form__password {
    width: 95%;
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*padding-left: 15px;*/
    background: #FFFFFF;
    /*border: 2px solid #CB2424;*/
    border: 2px solid #787878;
    /*box-sizing: border-box;*/
    border-radius: 10px;
    font-size: 28px;
    color: #787878;
    outline: 0;
    padding: 5px 10px;
}


.form__email::placeholder,
.form__password::placeholder {
    /*padding-left: 15px;*/
    color: #CCCCCC;

}


.form__checkbox-wrapper {
    position: relative;
    /*width: 312px;*/
    /*height: 24px;*/
    /*left: 45px;*/
    /*top: 258px;*/
    margin-left: 45px;
    /*margin-top: 20px;*/
    /*margin-bottom: 45px;*/
}


.form__checkbox {
    position: absolute;
    opacity: 0;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}


.form__checkbox-mark {
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
}


.form__checkbox:checked + .form__checkbox-mark::after {
    content: '✓';
    position: absolute;
    color: #787878;
    left: 5px;
    top: 3px;
}


.form__checkbox-label {
    position: absolute;
    /*width: 278px;*/
    /*height: 16px;*/
    left: 34px;
    top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #787878;
}


.link {
    color: #787878;

}


.form__button-wrapper {
    /*width: 180px;*/
    /*height: 52px;*/
    /*left: 218px;*/
    /*top: 334px;*/
    margin: 0 auto;
}


.form__button {
    width: 180px;
    height: 52px;
    /*left: 0;*/
    /*top: 0;*/
    background: #1A226B;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 26px 0;
}


@media screen and (max-width: 768px) and (min-width: 320px) {

    .form {
        width: 100vw;
        height: 93vh;
        margin: 20px;
    }


    .form__checkbox-wrapper {
        width: 80%;
    }

}