body {
    margin: 0;
}

.header {
    position: fixed;
    width: 100%;
    padding-left: 20px;
    top: 0;
    background: #590BFF;
    color: white;
    z-index: 1;
}
.header__headline {

}

.content {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    position: relative;
    top: 73px;
    margin: 20px;
}

.sidebar__title {

}

.sidebar__links  {

}

.sidebar__link a {
    color: #FF710B;
}

.book {
    position: relative;
    top: 80px;
    margin: 20px 0 0 20px;
    flex-grow: 1;
}

.book__alphabet {
    position: sticky;
    background: #590BFF;
    top: 80px;
    color: white;
}

.book__name {

}

