* {
    /*box-sizing: border-box;*/
}

body {
    margin: 0;
    font-family: sans-serif;
    width: 100%;
}

h1 {
    text-align: center;
}

h2 {
    color: blueviolet;
    flex: auto;
}

h3 {
    color: red;
}

p {
    color: grey;
    flex: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    margin: 20px;
}

.card {
    width: 300px;
    text-align: center;
    margin: 20px;
    background: cornsilk;
    display:flex;
    flex-direction:column;
}

img {
    width: 200px;
    align-self: center;
}

.text {
    padding: 0 10px;
    display:flex;
    flex-direction:column;
    flex: auto;
}

button {
    border: 0;
    background: cornflowerblue;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 20px;
}

