.button {
    background: red;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 10px 16px;
}

.button_lime {
    background: lime;
}

.button_orange {
    background: orange;
}

.button_blue {
    background: blue;
}
