[href] {
    color: red;
}

[href="https://yandex.ru"] {
    color: yellow;
}

[class~="class-1"] {
    color: grey;
}

[class|=class] {
    color: green;
}

[href^="https://vk"] {
    color: purple;
}

[href$=".org"] {
    color: #a5cfb0;
}

[href*="example"] {
    color: #2ee8e5;
}