/*
#my_id  div {
    color: blue;
}

.class-1.class-2 {

}

div.class-2 {
    color: #2ee8e5;
}

.class-1 {
    color: purple;
}

div {
    color: green;
}
*/

.container .red-text {
    color: red;
}

.container > span {
    color: blue;
}
/*
.neighbor-1 + .neighbor-2 {
    color: red;
}*/

.neighbor-1 ~ .neighbor-2 {
    color: red;
}
