.lesson-button {
    padding: 5px 10px;
    background: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 0;
}

.lesson-button_disabled {
    pointer-events: none;
    background: #cccccc;
    color: #aaa;
}
.news {
    /*display: flex;*/
}

.news__items {
    display: flex;
    flex-wrap: wrap;
}

.news__item {
    margin: 20px 20px;
    box-shadow: 1px 1px 15px 0 #cccccc;
    padding: 30px;
    width: 300px;
}

.news__item-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.news__item-title {
    font-size: 30px;
    margin: 0;
}

.news__item-description {
    margin-top: 20px;
}

.news__item_theme_dark {
    background: #000;
}

.news__item_theme_dark .news__item-title {
    color: white;

}.news__item_theme_dark .news__item-description {
     color: white;
 }

.news__item_theme_green {
    background: yellow;
}