* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 700px;
    height: 500px;
    color: #fff;
    background-size: auto;
    /*background-repeat: no-repeat;*/
    /*background-repeat-y: no-repeat;*/
}
.square {
    width: 500px;
}

.square_red {
    background-color: red;
    color: #ffff00;

    margin: 10px 15px 20px 25px;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.square_green {
    background-color: green;
}

.image {
    width: 100px;
    height: 100px;
    float: right;
}