.flex-container {
    display: flex;
    background: magenta;
    /*flex-direction: row;*/
    /*flex-direction: column;*/
    /*flex-direction: column-reverse;*/
    /*flex-direction: row-reverse;*/
    /*justify-content: space-evenly;*/
    height: 300px;
}

.flex-container_item {
    /*width: 100px;*/
    height: 100px;
    background: yellow;
    flex: 0 1 20%;
    border: 1px solid ;
}

.flex-container_item:first-child {

}