.grid-container {
    display: grid;
    /*grid-template-rows: [row-1-start] 1fr [row-1-end row-1-start] 1fr [row-2-end] 1fr;*/
    /*grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1fr [column-2-end] 1fr;*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: magenta;
    height: 300px;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-areas:
        "header header header header"
        "main main . aside"
        "footer footer footer footer"
}

.grid-container__item {
    /*width: 100px;*/
    /*height: 100px;*/
    background: yellow;
    border: 1px solid;
}

.grid-container__item:nth-child(5) {
    /*grid-column-start: column-1-start;*/
    /*grid-row-start: row-1-start;*/
    /*grid-row-end: row-2-end;*/
    /*grid-column-end: column-2-end;*/
    grid-area: header;
}

.grid-container__item:nth-child(1) {
    grid-area: main;
}

.grid-container__item:nth-child(2) {
    grid-area: aside;
}

.grid-container__item:nth-child(3) {
    grid-area: footer;
}