.form__input {
    /* Reset default styles */
    border: none;
    border-radius: 0;
    outline: none;
    padding: 0;

    /* Add ownstyles */
    border-bottom: 1px solid gray;
    padding: 6px 0;
}

.form__button {
    border: none;
    border-radius: 0;
    background: lime;
    padding: 5px 8px;
    transition: .2s opacity;
}

.form__button:hover {
    opacity: 0.5;
}

.form__button:focus {
    outline: none;
    border: 2px solid #ff0000;
}

.form__checkbox-wrapper {
    position: relative;
    width: fit-content;
    display: flex;
}

.form__checkbox {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.form__checkbox-mark {
    width: 16px;
    height: 16px;
    border: 2px solid black;
}

.form__checkbox:checked + .form__checkbox-mark  {
    background: black;
}

.form__file-upload-wrapper {
    position: relative;
    width: fit-content;
}

.form__file-upload {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 5;
}