.square {
    width: 100px;
    height: 100px;
    background: red;
}

@media screen and (max-width: 1920px) and (min-width: 1441px) {
    .square {
        background: lime;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1281px) {
    .square {
        background: magenta;
    }
}

@media screen and (max-width: 1280px) and (min-width: 769px) {
    .square {
        background: blue;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .square {
        width: 100%;
        background: yellow;
    }
}
@media screen and (max-width: 768px) and (orientation: portrait){
    .square {
        width: 100%;
        background: purple;
    }
}