.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: 48%;
    background: lime;
    margin-top: 29px;
}

.block.block_type_1 {
    width: 20%;
    min-width: 80px;
    max-width: 90px;
}

.block.block_type_2 {
    width: 78%;
}