.wrapper {
    margin: 32px auto 0;
    max-width: 935px;
    /*padding-bottom: 32px;*/
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 30px;
}

.title {
    font-size: 48px;
    text-align: center;
}

.input {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    padding: 8px;
    margin: 5px 0;
}

.button {
    margin: 8px 0;
    padding: 8px;
    background: #0095f6;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
}

.hr {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-gap: 10px;
    margin-top: 10px;
    color: #8e8e8e;
    font-size: 20px;
}

.hr span {
    height: 1px;
    background: #8e8e8e;
    margin-top: 1px;
}

.noData {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register {
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    padding: 20px 30px;
}

.register p {
    font-size: 14px;
    text-align: center;
}

.instagram {
    margin: 0 auto 12px;
    width: 175px;
}

.checkbox {
    margin: 5px 0;
    font-size: small;
    color: #8e8e8e;
}

.checkbox__check {
    margin-right: 10px;
}

.link {
    /*text-decoration: none;*/
}

.facebook {
    height: 17px;
    margin-right: 5px;
    position: relative;
    top: 3px;
    color: #385185;

}

.forget {
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
    text-align: center;
}