.wrapper {
    border-bottom: 1px solid #d3d3d3;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0;
    align-items: center;
    justify-items: center;
}

.logo {

}

.search {

}

.search > input {
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
    color: #262626;
    color: rgba(38, 38, 38, 1);
    padding: 3px 12px;
    flex: 0 1 auto;
    height: 28px;
    min-width: 125px;
    width: 268px;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
}

.menu > button {

}

.menu > button > img {

}

.icon {

}
