.wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.buttons img {
    margin: 0 5px;
    width: 136px;
}