.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.photo {
    width: 287px;
    height: 269px;
    margin: 10px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}